body {
    background-color: rgb(239, 225, 165);
    margin: 40px
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 70px;
}

@keyframes testAnim {
    from {background-color: red;}
    to {background-color: rgb(49, 43, 226);}
}

#test {
  width: 150px;
  height: 150px;
  animation-name: testAnim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes testAnim2 {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

#test2 {
  width: 150px;
  height: 150px;
  background-color: rgb(33, 185, 71);
}

#test2:hover {
  animation-name: testAnim2;
  animation-duration: 2s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}

@keyframes testAnim3 {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

@keyframes myAnimation {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
}

#test3 {
  width: 150px;
  height: 150px;
  position: relative;
  background-color: rgb(255, 0, 187);
}

#test3:active {
  background-color: rgb(255, 0, 187);
  animation-name: myAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}