/* whole page */
body {
    background-color: rgb(238, 205, 128);
    margin: 40px
}

/* container that holds all the boxes */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 70px;
}


/*----------------------------------------------------------------------------------------*/
/* color shift back and forth */
@keyframes colorShift {
    from {background-color: rgb(255, 64, 0);}
    to {background-color: rgb(12, 151, 189);}
}

#test1 {
  width: 150px;
  height: 150px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;

  animation-name: colorShift;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


/*----------------------------------------------------------------------------------------*/
/* rotate counter clockwise */
@keyframes rotateLeft {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

#test2 {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;

  background-color: rgb(16, 163, 53);
}

#test2:hover {
  animation-name: rotateLeft;
  animation-duration: 2s;
  animation-direction: reverse;
  animation-iteration-count: infinite;

  /*MOVEMENT OPTIONS*/

  /* steps - choppy */
  animation-timing-function: steps(10);
  /* linear movement - same as cubic bezier(0, 0, 1, 1) */
  animation-timing-function: linear; 
  /* ease in - same as cubic-bezier(0.42, 0, 1.0, 1.0)*/
  animation-timing-function: ease-in;
  /* ease out - same as cubic bezier(0, 0, 0.58, 1.0)*/
  animation-timing-function: ease-out;
  
  /* ease - the default, same as cubic-bezier(0.25, 0.1, 0.25, 1.0)*/
  animation-timing-function: ease;
}


/*----------------------------------------------------------------------------------------*/
/* move in a square to the right + color shift */
@keyframes moveSquareColor {
  0%   {background-color:rgb(255, 0, 187); left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:rgb(255, 0, 187); left:0px; top:0px;}
}

/* just move in a square to the right */
@keyframes moveSquare {
  0%   {left:0px; top:0px;}
  25%  {left:100px; top:0px;}
  50%  {left:100px; top:100px;}
  75%  {left:0px; top:100px;}
  100% {left:0px; top:0px;}
}

#test3 {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;

  background-color: rgb(255, 0, 81);
}

#test3:active {
  animation-name: moveSquare;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
  /*MOVEMENT OPTIONS*/
  /*bouncy movement option */
  /* animation-timing-function: cubic-bezier(0.1, -0.8, 0.9, 0); */
}


/*----------------------------------------------------------------------------------------*/
/* go down + rotate right on the way up */
@keyframes upAndDown {
  0%   {left:0px; top:0px;}
  50%  {left:0px; top:250px; transform: rotate(0); background-color: rgb(212, 0, 184);}
  100% {left:0px; top:0px; transform: rotate(360deg); background-color: rgb(62, 23, 238);}
}

#test4 {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;

  background-color: rgb(62, 23, 238);
}

#test4:active {
  width: 150px;
  height: 150px;
  animation-name: upAndDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


/*----------------------------------------------------------------------------------------*/
/* squish up and down */
@keyframes squish {
  from {transform: scale(1, 1);}
  to {transform: scale(1.2, 0.8);}
}

#test5 {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;

  background-color: rgb(255, 162, 0);
  animation-name: squish;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}


/*----------------------------------------------------------------------------------------*/
/* stretch diagonally */
@keyframes skew {
  from {transform: skew(0deg, 0deg);}
  to {transform: skew(20deg, 20deg);}
}

#test6 {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;

  background-color: rgb(175, 1, 239);
}

#test6:hover {
  animation-name: skew;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}


/*----------------------------------------------------------------------------------------*/
